<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hall Pass Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Hall Pass Import.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Hall Pass ImportFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Hall Pass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>241987E81D5287F700F661B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>241987FC1D5287F700F661B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>241988071D5287F700F661B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246D6C9D1D52D46200CC60C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246D6CB11D52D86F00CC60C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246D6CBF1D52D86F00CC60C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
