<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>871952980862-ke4ii3f939u57io40n6c9bpj18eaqg0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871952980862-ke4ii3f939u57io40n6c9bpj18eaqg0c</string>
	<key>API_KEY</key>
	<string>AIzaSyAk6yfbvKCwXLUJbJ2288GnI9r09Cf_ASk</string>
	<key>GCM_SENDER_ID</key>
	<string>871952980862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soysauce44.Hall-Pass</string>
	<key>PROJECT_ID</key>
	<string>hall-pass-d23c2</string>
	<key>STORAGE_BUCKET</key>
	<string>hall-pass-d23c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:871952980862:ios:ba6f1289f59f0d2d</string>
	<key>DATABASE_URL</key>
	<string>https://hall-pass-d23c2.firebaseio.com</string>
</dict>
</plist>